In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dawson Creek,CA,2021-12-06 00:22:23,55.7666,-120.2362,1.04,78,1,0.00
1,1,Busselton,AU,2021-12-06 00:22:23,-33.6500,115.3333,62.04,63,72,17.67
2,2,Provideniya,RU,2021-12-06 00:18:51,64.3833,-173.3000,28.51,86,90,8.95
3,3,Biltine,TD,2021-12-06 00:22:24,14.5333,20.9167,74.16,22,4,11.18
4,4,Cape Town,ZA,2021-12-06 00:21:03,-33.9258,18.4232,61.21,88,75,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)

0      False
1      False
2      False
3      False
4      False
       ...
567    False
568    False
569     True
570    False
571     True
Name: Max Temp, Length: 572, dtype: bool

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Avarua,CK,2021-12-06 00:20:28,-21.2078,-159.7750,82.45,78,20,6.91
10,10,Cabo San Lucas,MX,2021-12-06 00:21:31,22.8909,-109.9124,79.52,59,40,5.75
12,12,Lompoc,US,2021-12-06 00:20:32,34.6391,-120.4579,75.13,80,1,10.36
14,14,Rikitea,PF,2021-12-06 00:22:26,-23.1203,-134.9692,76.69,73,87,6.26
17,17,Puerto Carreno,CO,2021-12-06 00:20:05,6.1890,-67.4859,85.91,53,74,12.01
20,20,Butaritari,KI,2021-12-06 00:22:28,3.0707,172.7902,80.80,83,99,12.97
27,27,Sao Filipe,CV,2021-12-06 00:22:29,14.8961,-24.4956,75.90,72,63,12.15
28,28,Vila Velha,BR,2021-12-06 00:22:30,-20.3297,-40.2925,76.95,88,40,5.99
36,36,Pemba,MZ,2021-12-06 00:22:32,-12.9740,40.5178,79.50,78,40,3.44
43,43,Vaini,TO,2021-12-06 00:22:34,-21.2000,-175.2000,84.36,84,20,12.66

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9           Avarua      CK     82.45 -21.2078 -159.7750
10  Cabo San Lucas      MX     79.52  22.8909 -109.9124
12          Lompoc      US     75.13  34.6391 -120.4579
14         Rikitea      PF     76.69 -23.1203 -134.9692
17  Puerto Carreno      CO     85.91   6.1890  -67.4859
20      Butaritari      KI     80.80   3.0707  172.7902
27      Sao Filipe      CV     75.90  14.8961  -24.4956
28      Vila Velha      BR     76.95 -20.3297  -40.2925
36           Pemba      MZ     79.50 -12.9740   40.5178
43           Vaini      TO     84.36 -21.2000 -175.2000

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
10,Cabo San Lucas,MX,79.52,22.8909,-109.9124,Hotel Tesoro Los Cabos
12,Lompoc,US,75.13,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
14,Rikitea,PF,76.69,-23.1203,-134.9692,People ThankYou
17,Puerto Carreno,CO,85.91,6.1890,-67.4859,Casa Hotel Victoria
20,Butaritari,KI,80.80,3.0707,172.7902,Isles Sunset Lodge
27,Sao Filipe,CV,75.90,14.8961,-24.4956,Hotel Xaguate
28,Vila Velha,BR,76.95,-20.3297,-40.2925,Quality Suites Vila Velha
36,Pemba,MZ,79.50,-12.9740,40.5178,Guesthouse Samotina
43,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))